*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    text-decoration: none;
}
:root{
    --main-gray: rgb(226, 228, 228);
}

.main-conatiner{
    width: 100%;
    min-height: 600px;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color:var(--main-gray);
   position: fixed;
}
header .logo{
    width: 20%;
    align-items: center;
}
header .header-navs{
    width: 50%;
}
header .header-navs ul{
    display: flex;
    justify-content: space-evenly;
}
header .header-navs ul li{
    padding: 10px 13px;
    text-align: center;
}
header .header-navs ul li input{
    border: none;
    offset: none;
    padding:5px ;
    background-color: transparent;
    border-bottom: 1px solid black;
}
header .header-navs ul a{
    color: rgb(66, 65, 65);
}
main{
    width: 100%;
    padding-top: 68px;
}
main .section-one{
    width: 17%;
    float: left;
    /* border: 1px solid black; */
    height: 600px;
    background-color: var(--main-gray);
    padding: 10px 10px 10px 20px;
    position: fixed;
}
main .section-two{
    width: 83%;
    float: right;
    background-color: var(--main-gray);
    /* border: 1px solid black; */
    min-height: 600px;
}

.section-two .channel , .content-banner{
    width: 94%;
    min-height: 100px;
    border-radius: 20px;
    margin: 10px auto;
    background-color: white;
    display: flex;
}
.section-two .channel .channel-info{
    width: 40%;
    display: flex;
    padding-left: 15px;
    align-items: center;
}
.section-two .channel .channel-info .channel-logo{
    width: 22%;
    height: 80px;
    margin-right: 5px;
    border-radius: 50%;
}
.section-two .channel .channel-info .channel-logo img{
    width: 100%;
}
.section-two .channel .channel-buttons{
    width: 60%;
    display: flex;
    padding: 8px;
    justify-content: flex-end;
}
.normal-but{
        border: none;
        margin: 20px 10px;
        padding: 0px 30px;
        font-size: 15px;
        border-radius: 20px;
}
.section-two .channel .channel-buttons .Subscribe{
    background-color: black;
    color: white;
}
.section-two .channel .channel-buttons .Message{
    background-color: white;
    border: 1px solid black;
}

.content-banner .content{
    width: 55%;
    padding: 50px 10px 20px 40px ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.content-banner .content h1{
    font-size: 40px;
    font-weight: 500;
}
.content-banner .content p{
    font-size: 13px;
    margin: 10px 0px 10px 0px;
}
.content-banner .content  span{
    font-size: 15px;
    font-weight: 500;
}
.content-banner .content-image{
    width: 45%;
    text-align: center;
}
.content-banner .content-image img{
    width: 80%;
    margin: auto auto;
}
.small-button{
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 3px 8px;
    background-color: rgb(246, 176, 199);
    border: none;
    border-radius: 10px;
}
.Buy{
    margin: 10px 10px 0px 0px;
    padding: 10px 20px;
    background-color: black;
    color: white;
}